/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.nav-logo {
    text-align: left;
}

.nav-heading h1 {
    text-align: right;
}

.navbar-menu {
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a {
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}

.profile .top-weather-icon {
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover {
    width: 140px;
}

.profile-desc p {
    color: grey;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}

.profile .bottom-weather-icon {
    bottom: 20px;
    left: 140px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .buttom-weather-icon:hover {
    width: 140px;
}

.profile::after {
    content: '';
    display: table;
    clear: both;
}

.aboutme-image {
    margin-top: 100px;
}

.aboutme-image img {
    height: 270px;
    width: 250px;
}

.aboutme-desc p {
    text-align: left;
}

.professiona-experience {
    display: flex;
    justify-content: space-evenly;
    background-color: #a1b4b4;

}

.professiona-experience::after {
    content: '';
    display: table;
    clear: both;
}
.achievement-contact {
    display: flex;
    align-items: flex-start
}

.achievement {
    flex: 1 1 50%;
    padding: 20px;
}

.certificate {
    display: inline-block;
    width: 30%;
    margin: 15px;
    text-align: center;
    vertical-align: top;
    
}
.certificate p {
    font-size: 0.8rem;
}

.contact {
    flex: 1 1 25%;
    padding: 20px;
}

.contact-link {
    flex: 1 1 20%;
    padding: 20px;
}


.contact button {
    width: 150px;
}

.contact-link{
    position: relative;
}

.media-button{
    position: absolute;
    margin-top: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.footer-menu{
    margin-top: 12px;
}

.footer-menu a{
    display: inline;
    margin: 10px;

}